/* ==========================================================================
   Elegant Tip CSS main file
   ========================================================================== */
:root {
  --iron-black: #454545;

  --white: #fffff2;
  --yellow: #fff2a5;
  --light-yellow: #ffffe1; /* lightgoldenrodyellow */

  --red: #e62b27;
  --light-red: #E64945;
  --dark-red: #bd0000;

  --blue: #145b9b;
  --light-blue: #367abd;
  --dark-blue: #234990;

  --orange: #F0A32F;
  --dark-orange: #EB7B2D;

  --max-width: 250px;
  --border-thickness: 3px;
  --arrow-size: 12px;
}
/* Avoid exceeding the boundaries */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.et {
  display: inline;
  position: relative;
}
.et .et-block {
  display: table-row-group;
  background-color: var(--light-yellow);
  border: var(--border-thickness) solid var(--light-blue);
  border-radius: 6px;
  color: var(--iron-black);
  cursor: default;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  margin: 10px -260px 0 0;
  min-height: 20px;
  max-width: 260px;
  padding: 5px 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  transition: opacity 0.3s, transform 0.3s;
  -webkit-filter: drop-shadow(-3px -3px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(-3px -3px 3px rgba(0, 0, 0, 0.7));
  opacity: 0;  /* comment only when test */
}
.et-bottom.et-arrow::after {
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--light-yellow);
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: calc(var(--arrow-size) * (-1));
}
.et-bottom.et-arrow::before {
  border: calc(var(--arrow-size) + var(--border-thickness) + 2px) solid transparent;
  border-bottom-color: var(--light-blue);
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: calc((var(--arrow-size) * (-1)) - (var(--border-thickness) + 2px));
}
/*  內容（比方說 font-size）的特性在此調整是沒作用的  */
/*.et .et-block::after {*/
  /*content: '';*/
  /*display: inline-block;*/
  /*position: fixed;*/
  /*pointer-events: none;*/
  /*font-size: 16px;*/
/*}*/
/*.et .et-block.et-bottom {*/
  /*!*margin-top: 30px;*!*/
  /*display: inline-block;*/
  /*position: absolute;*/
  /*right: 50%;*/
  /*top: 100%;*/
/*}*/
.et:hover .et-block,
.et:focus .et-block {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(-50%, 5px, 0);
  -webkit-transform: translate3d(-50%, 5px, 0);
}







/*.et .et-block {
  !*visibility: hidden;*!
  display: inline-block;
  border: 5px solid var(--iron-black);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  min-height: 20px;
  padding: 5px;
  position: fixed;
  !*text-align: center;*!
  z-index: 10000;

  !* wrap *!
  !*max-width: 90vmin;*!
  white-space: pre;
  word-wrap: break-word;
  text-overflow: ellipsis;
  !*overflow: hidden;*!
}*/




/*
.et:hover .et-block,
.et:focus .et-block {
  visibility: visible;
  pointer-events: auto;
  position: absolute;
}

!* ==========================================================================
   Color cases
   ========================================================================== *!

!*  Default background-color  *!
span:not([data-bgcolor]),
span[data-bgcolor=''],
span[data-bgcolor=' '] {
  !*background-color: var(--iron-black);*!
  background-color: var(--yellow);
}
!*  Default color  *!
span:not([data-color]),
span[data-color=''],
span[data-color=' '] {
  !*color: var(--yellow);*!
  color: var(--light-blue);
}

!*  Defined background-color  *!
span[data-bgcolor='red'] {
  background-color: var(--red);
}

!* ==========================================================================
   Location cases
   ========================================================================== *!

.et .et-block.et-bottom {
  content: '';
  margin-top: 10px;
  right: 50%;
  top: 100%;
  transform: translateX(50%);
}
.et .et-block.et-top {
  content: '';
  margin-top: 0;
  margin-bottom: 10px;
  right: 50%;
  bottom: 100%;
  transform: translateX(50%);
}
.et .et-block.et-left {
  content: '';
  margin-top: 0;
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.et .et-block.et-right {
  content: '';
  margin-top: 0;
  margin-left: 10px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}


!* ==========================================================================
   Arrow cases
   ========================================================================== *!

.et-bottom.et-arrow::after {
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--iron-black);
  content: '';
  position: absolute;
  bottom: 100%;  !* At the top of the tooltip *!
  left: 50%;
  margin-left: calc(var(--arrow-size) * (-1));
}
.et-top.et-arrow::after {
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--iron-black);
  content: '';
  position: absolute;
  top: 100%; !* At the bottom of the tooltip *!
  left: 50%;
  margin-left: calc(var(--arrow-size) * (-1));
}
.et-left.et-arrow::after {
  border: var(--arrow-size) solid transparent;
  border-left-color: var(--iron-black);
  content: '';
  position: absolute;
  top: 50%;
  left: 100%; !* To the right of the tooltip *!
  margin-top: calc(var(--arrow-size) * (-1));
}
.et-right.et-arrow::after {
  border: var(--arrow-size) solid transparent;
  border-right-color: var(--iron-black);
  content: '';
  position: absolute;
  top: 50%;
  right: 100%; !* To the left of the tooltip *!
  margin-top: calc(var(--arrow-size) * (-1));
}*/
