/* ==========================================================================
   Elegant Tip CSS main file
   ========================================================================== */
:root {
  --iron-black: #454545;

  --white: #fffff2;
  --yellow: #fff2a5;
  --light-yellow: #ffffe1; /* lightgoldenrodyellow */

  --red: #e62b27;
  --light-red: #E64945;
  --dark-red: #bd0000;

  --blue: #145b9b;
  --light-blue: #367abd;
  --dark-blue: #234990;

  --orange: #F0A32F;
  --dark-orange: #EB7B2D;

  --max-width: 300px;
  --border-thickness: 3px;
  --font-size: 16px;
  --arrow-size-large: 12px;
  --arrow-size-small: 8px;
  /*  Increase pointer-events successful area  */
  --pointer-event-area: calc(var(--arrow-size-large) * 2.5)
}
/* Avoid exceeding the boundaries */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.et {
  display: inline;
  position: relative;
  z-index: 99999;
}

/* ==========================================================================
   Increase pointer-events successful area
   ========================================================================== */
.et::after {
  /*background-color: black;  !* only when testing *!*/
  content: '';
  cursor: default;
  min-height: calc(100% + var(--pointer-event-area));
  min-width: calc(100% + var(--pointer-event-area));
  pointer-events: none;
  position: absolute;
  top: calc(var(--pointer-event-area) * -0.5);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  /*opacity: 0.5;  !* only when testing *!*/
}
.et:hover::after,
.et:focus::after {
  pointer-events: auto;
}

/* ==========================================================================
   Common attributes for all tip-block
   ========================================================================== */
.et .et-bottom,
.et .et-top,
.et .et-left,
.et .et-right {
  display: inline-block;
  background-color: var(--light-yellow);
  border: var(--border-thickness) solid var(--light-blue);
  border-radius: 6px;
  color: var(--iron-black);
  cursor: default;
  font-size: var(--font-size);
  font-weight: 500;
  height: auto;
  max-width: var(--max-width);
  min-width: 100%;
  padding: 5px 8px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, transform 0.3s;
  opacity: 0;  /* comment only when testing */
}

/* ==========================================================================
   Common attributes for all tip-arrow
   ========================================================================== */
.et .et-arrow::after {
  border: var(--arrow-size-large) solid transparent;
  content: '';
  pointer-events: auto;
  position: absolute;
}
.et .et-arrow::before {
  border: calc(var(--arrow-size-large) + var(--border-thickness) + 2px) solid transparent;
  content: '';
  pointer-events: auto;
  position: absolute;
}
.et .et-left.et-arrow::after,
.et .et-right.et-arrow::after {
  border: var(--arrow-size-small) solid transparent;
}
.et .et-left.et-arrow::before,
.et .et-right.et-arrow::before {
  border: calc(var(--arrow-size-small) + var(--border-thickness) + 2px) solid transparent;
}

/* ==========================================================================
   Bottom tip-block
   ========================================================================== */
.et .et-bottom {
  margin: 10px -260px 0 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.7));
}
.et .et-bottom.et-arrow::after {
  border-bottom-color: var(--light-yellow);
  bottom: 100%;
  left: 50%;
  margin-left: calc(var(--arrow-size-large) * (-1));
}
.et .et-bottom.et-arrow::before {
  border-bottom-color: var(--light-blue);
  bottom: 100%;
  left: 50%;
  margin-left: calc((var(--arrow-size-large) * (-1)) - (var(--border-thickness) + 2px));
}

/* ==========================================================================
   Top tip-block
   ========================================================================== */
.et .et-top {
  margin: 0 -260px 10px 0;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.7));
}
.et .et-top.et-arrow::after {
  border-top-color: var(--light-yellow);
  top: 100%;
  left: 50%;
  margin-left: calc(var(--arrow-size-large) * (-1));
}
.et .et-top.et-arrow::before {
  border-top-color: var(--light-blue);
  top: 100%;
  left: 50%;
  margin-left: calc((var(--arrow-size-large) * (-1)) - (var(--border-thickness) + 2px));
}

/* ==========================================================================
   Left tip-block
   ========================================================================== */
.et .et-left {
  margin: 0 10px 0 -260px;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
}
.et .et-left.et-arrow::after {
  border-left-color: var(--light-yellow);
  top: 50%;
  left: 100%;
  margin-top: calc(var(--arrow-size-small) * (-1));
}
.et .et-left.et-arrow::before {
  border-left-color: var(--light-blue);
  top: 50%;
  left: 100%;
  margin-top: calc((var(--arrow-size-small) * (-1)) - (var(--border-thickness) + 2px));
}

/* ==========================================================================
   Right tip-block
   ========================================================================== */
.et .et-right {
  margin: 0 -260px 0 10px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.7));
}
.et .et-right.et-arrow::after {
  border-right-color: var(--light-yellow);
  top: 50%;
  right: 100%;
  margin-top: calc(var(--arrow-size-small) * (-1));
}
.et .et-right.et-arrow::before {
  border-right-color: var(--light-blue);
  top: 50%;
  right: 100%;
  margin-top: calc((var(--arrow-size-small) * (-1)) - (var(--border-thickness) + 2px));
}

/* ==========================================================================
   .et hover & focus events
   ========================================================================== */
.et:hover .et-bottom,
.et:focus .et-bottom {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 5px);
  -webkit-transform: translate(-50%, 5px);
}
.et:hover .et-top,
.et:focus .et-top {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -5px);
  -webkit-transform: translate(-50%, -5px);
}
.et:hover .et-left,
.et:focus .et-left {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-5px, -50%);
  -webkit-transform: translate(-5px, -50%);
}
.et:hover .et-right,
.et:focus .et-right {
  opacity: 1;
  pointer-events: auto;
  transform: translate(5px, -50%);
  -webkit-transform: translate(5px, -50%);
}

/* ==========================================================================
   Different styles, design your style here.
   ========================================================================== */
.et .et-bottom.et-style1,
.et .et-top.et-style1,
.et .et-left.et-style1,
.et .et-right.et-style1 {
  background-color: #242d42;
  border: 0;
  border-radius: 0;
  color: var(--yellow);
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.7));
  padding: 10px 20px;
  transition: opacity 0.5s, transform 0.5s;
  -webkit-transition: opacity 0.5s, transform 0.5s;
}
.et .et-bottom.et-style1:after,
.et .et-bottom.et-style1:before {
  border-bottom-color: #242d42;
}
.et .et-top.et-style1:after,
.et .et-top.et-style1:before {
  border-top-color: #242d42;
}
.et .et-left.et-style1:after,
.et .et-left.et-style1:before {
  border-left-color: #242d42;
}
.et .et-right.et-style1:after,
.et .et-right.et-style1:before {
  border-right-color: #242d42;
}
/*.et .et-block {*/
  /*display: inline-block;*/
  /*background-color: var(--light-yellow);*/
  /*border: var(--border-thickness) solid var(--light-blue);*/
  /*border-radius: 6px;*/
  /*color: var(--iron-black);*/
  /*cursor: default;*/
  /*font-size: var(--font-size);*/
  /*font-weight: 500;*/
  /*height: auto;*/
  /*margin: 10px -260px 0 0;*/
  /*min-height: 20px;*/
  /*max-width: var(--max-width);*/
  /*min-width: 100%;*/
  /*padding: 5px 8px;*/
  /*pointer-events: none;*/
  /*position: absolute;*/
  /*text-align: center;*/
  /*top: 100%;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*-webkit-transform: translateX(-50%);*/
  /*transition: opacity 0.3s, transform 0.3s;*/
  /*-webkit-transition: opacity 0.3s, transform 0.3s;*/
  /*filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.7));*/
  /*-webkit-filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.7));*/
  /*opacity: 0;  !* comment only when testing *!*/
  /*z-index: 999999;*/
/*}*/
/*.et-block::after,*/
/*.et-bottom.et-arrow::after {*/
  /*border: var(--arrow-size-large) solid transparent;*/
  /*border-bottom-color: var(--light-yellow);*/
  /*content: '';*/
  /*pointer-events: auto;*/
  /*position: absolute;*/
  /*bottom: 100%;*/
  /*left: 50%;*/
  /*margin-left: calc(var(--arrow-size-large) * (-1));*/
/*}*/
/*.et-block::before,*/
/*.et-bottom.et-arrow::before {*/
  /*border: calc(var(--arrow-size-large) + var(--border-thickness) + 2px) solid transparent;*/
  /*border-bottom-color: var(--light-blue);*/
  /*content: '';*/
  /*pointer-events: auto;*/
  /*position: absolute;*/
  /*bottom: 100%;*/
  /*left: 50%;*/
  /*margin-left: calc((var(--arrow-size-large) * (-1)) - (var(--border-thickness) + 2px));*/
/*}*/
/*  內容（比方說 font-size）的特性在此調整是沒作用的  */
/*.et .et-block::after {*/
  /*content: '';*/
  /*display: inline-block;*/
  /*position: fixed;*/
  /*pointer-events: none;*/
  /*font-size: 16px;*/
/*}*/
/*.et .et-block.et-bottom {*/
  /*!*margin-top: 30px;*!*/
  /*display: inline-block;*/
  /*position: absolute;*/
  /*right: 50%;*/
  /*top: 100%;*/
/*}*/








/*.et .et-block {
  !*visibility: hidden;*!
  display: inline-block;
  border: 5px solid var(--iron-black);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  min-height: 20px;
  padding: 5px;
  position: fixed;
  !*text-align: center;*!
  z-index: 10000;

  !* wrap *!
  !*max-width: 90vmin;*!
  white-space: pre;
  word-wrap: break-word;
  text-overflow: ellipsis;
  !*overflow: hidden;*!
}*/




/*
.et:hover .et-block,
.et:focus .et-block {
  visibility: visible;
  pointer-events: auto;
  position: absolute;
}

!* ==========================================================================
   Color cases
   ========================================================================== *!

!*  Default background-color  *!
span:not([data-bgcolor]),
span[data-bgcolor=''],
span[data-bgcolor=' '] {
  !*background-color: var(--iron-black);*!
  background-color: var(--yellow);
}
!*  Default color  *!
span:not([data-color]),
span[data-color=''],
span[data-color=' '] {
  !*color: var(--yellow);*!
  color: var(--light-blue);
}

!*  Defined background-color  *!
span[data-bgcolor='red'] {
  background-color: var(--red);
}

!* ==========================================================================
   Location cases
   ========================================================================== *!

.et .et-block.et-bottom {
  content: '';
  margin-top: 10px;
  right: 50%;
  top: 100%;
  transform: translateX(50%);
}
.et .et-block.et-top {
  content: '';
  margin-top: 0;
  margin-bottom: 10px;
  right: 50%;
  bottom: 100%;
  transform: translateX(50%);
}
.et .et-block.et-left {
  content: '';
  margin-top: 0;
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.et .et-block.et-right {
  content: '';
  margin-top: 0;
  margin-left: 10px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}


!* ==========================================================================
   Arrow cases
   ========================================================================== *!

.et-bottom.et-arrow::after {
  border: var(--arrow-size-large) solid transparent;
  border-bottom-color: var(--iron-black);
  content: '';
  position: absolute;
  bottom: 100%;  !* At the top of the tooltip *!
  left: 50%;
  margin-left: calc(var(--arrow-size-large) * (-1));
}
.et-top.et-arrow::after {
  border: var(--arrow-size-large) solid transparent;
  border-top-color: var(--iron-black);
  content: '';
  position: absolute;
  top: 100%; !* At the bottom of the tooltip *!
  left: 50%;
  margin-left: calc(var(--arrow-size-large) * (-1));
}
.et-left.et-arrow::after {
  border: var(--arrow-size-large) solid transparent;
  border-left-color: var(--iron-black);
  content: '';
  position: absolute;
  top: 50%;
  left: 100%; !* To the right of the tooltip *!
  margin-top: calc(var(--arrow-size-large) * (-1));
}
.et-right.et-arrow::after {
  border: var(--arrow-size-large) solid transparent;
  border-right-color: var(--iron-black);
  content: '';
  position: absolute;
  top: 50%;
  right: 100%; !* To the left of the tooltip *!
  margin-top: calc(var(--arrow-size-large) * (-1));
}*/
