@font-face {
  font-family: custom-sans-serif;
  src: local('Microsoft YaHei'), local('微軟正黑體');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: custom-sans-serif;
  src: local(Helvetica), local(Segoe UI);
  unicode-range: U+00-024F;
}

.logo,
.header {
  font-family: 'Work Sans', sans-serif;
}

a,
span,
div,
button,
form {
  font-family: custom-sans-serif, sans-serif;
}

/* Avoid exceeding the boundaries */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
code {
  color: #454545;
}
pre,
code {
  display: block;
}
article {
  font-size: 2.1vh;
}
.syntax-block {
  font-size: 1.9vh;
  padding: 10px 23px;
  /*overflow-x: scroll;*/
}
.syntax-block * {
  font-family: 'Source Code Pro', monospace;
}
.syntax-inline-tag,
.syntax-inline-class {
  font-family: 'Source Code Pro', monospace;
  font-size: inherit;
  margin: 0 6px;
}
.syntax-inline-tag {
  color: #63a35c;
}
.syntax-inline-class {
  color: #df5000;
}

/*  link  */

a {
  color: inherit;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  color: #454545;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.nav-content {
  margin-top: 10px;
  width: 66%;
}

.nav a {
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover {
  color: #242d42;
}

/******  Header  ******/

.header {
  background-color: #363636;;
  color: lightgoldenrodyellow;
  min-height: 76vmin;
  /*margin-top: 66px;*/
  padding: 60px 10px;
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.header-title {
  color: lightgoldenrodyellow;
  font-size: 7vh;
  margin-bottom: 30px;
}
.header-intro {
  color: lightgoldenrodyellow;
  font-size: 3vh;
  font-family: 'Work Sans', sans-serif;
  margin-top: 0;
}
.header-action,
.header-example {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 45px auto 60px;
  text-align: center;
  vertical-align: middle;
  width: 66vh; /*  RWD  */
}
.header-action div {
  margin: 10px;
  /*min-width: 320px;  !*  RWD  *!*/
  width: 100%;
}
.header-link a {
  text-decoration: none;
}
.header-link-text {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #aad6fa;
  border-radius: 5px;
  color: #fff795;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vh; /*  RWD  */
  padding: 12px 2px;
  transition: 0.2s;
  position: relative;
  width: 100%;
}
.header-link-text:hover,
.header-example-text:hover {
  background-color: #fff795;
  color: #454545;
  cursor: pointer;
  font-weight: bold;
}

/******  Examples in header  ******/

.header-example {
  margin: 0 auto;
}
.header-example div {
  margin: 10px;
  min-width: 200px;  /*  RWD  */
  width: 100%;
}
.header-example-text {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #ff7d7a;
  border-radius: 5px;
  color: #fff795;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5vh; /*  RWD  */
  padding: 12px 2px;
  transition: 0.2s;
  position: relative;
}

/******  Sections  ******/

.section-container {
  display: block;
  margin: 0 auto;
  width: 66%;
}

.section-title {
  color: #454545;
  font-size: 5vh;
  font-weight: bolder;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.section-intro {
  font-size: 2vh;
  font-weight: bold;
  color: #367abd;
  width: 100%;
}

.section-hint {
  color: #E64945;
  font-size: 1.9vh;
}

.section-demo {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 16px 0 30px;
  text-align: center;
  width: 100%;
}
.section-demo div {
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 2px solid #666666;
  border-radius: 5px;
  color: #666666;
  cursor: pointer;
  font-size: 2.5vh;
  margin: 10px 10px;
  padding: 8px 10px;
  text-align: center;
  transition: 0.2s;
}

.btn:hover,
.btn:focus {
  border: 2px solid black;
  color: black;
  font-weight: bolder;
}

.btn:active,
.btn:focus,
a:active,
a:focus,
div:active,
div:focus,
span:active,
span:focus {
  outline: none;
}

.nav-link {
  float: right;
  /*padding-top: 2px;*/
  opacity: 0.8;
  transition: opacity 0.2s;
}
.nav-link:hover,
.nav-link:focus {
  opacity: 1;
}
.nav-link:active,
.nav-link:focus {
  outline: none;
}
.section-license {
  font-size: 3vh;
  text-align: center;
}
.section-end {
  margin-bottom: 120px;
}
.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #454545;
  font-size: 2vh;
  width: 100%;
  top: 0;
  left: 0;
}

.footer-content {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

/******  RWD  ******/

@media only screen and (max-width: 1406px) {
  .section-container {
    width: 70%;
  }
}
@media only screen and (max-width: 1300px) {
  .section-demo {
    justify-content: center;
  }
  .section-demo div{
    width: 40%;
  }
}
@media only screen and (max-width: 1200px) {
  .section-demo {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 1030px) {
  .nav-content {
    width: 80%;
  }
  .header-action,
  .header-example {
    width: 70%;
  }
  .header-link-text {
    font-size: 2vh;
  }
  .header-example-text,
  .btn {
    font-size: 1.6vh;
  }
  .section-demo {
    justify-content: center;
  }
  .section-demo div {
    width: 60%;
  }
  .btn {
    padding: 8px 0;
  }
}
@media only screen and (max-width: 900px) {
  .header-action,
  .header-example {
    flex-wrap: wrap;
    width: 50%;
  }
  .section-demo div {
    width: 50%;
  }
}