@font-face {
  font-family: custom-sans-serif;
  src: local('Microsoft YaHei'), local('微軟正黑體');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: custom-sans-serif;
  src: local(Helvetica), local(Segoe UI);
  unicode-range: U+00-024F;
}

html,
body,
nav,
header,
section,
footer,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
form {
  color: #454545;
  font-family: custom-sans-serif, sans-serif;
}

/* Avoid exceeding the boundaries */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
}

/*  list  */

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  link  */

a {
  color: inherit;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  color: #454545;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-content {
  margin-top: 10px;
  width: 66%;
}

.nav a {
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover {
  color: #242d42;
}

.container {
  display: block;
  margin: 100px auto 60px;
  width: 66%;
}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5 {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 16px auto 30px;
  text-align: center;
  width: 100%;
}
.sec2 {
  margin-top: -30px;
}
.sec1 button,
.sec2 button,
.sec3 button,
.sec4 button,
.sec5 button {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #145b9b;
}

.btn {
  background-color: transparent;
  border: 2px solid #666666;
  border-radius: 5px;
  color: #666666;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 10px;
  padding: 8px 10px;
  text-align: center;
  transition: 0.2s;
}

.btn:hover,
.btn:focus {
  border: 2px solid black;
  color: black;
  font-weight: bolder;
}

.btn:active,
.btn:focus {
  outline: none;
}

.my-page {
  float: right;
  /*padding-top: 2px;*/
  opacity: 0.8;
  transition: opacity 0.2s;
}
.my-page:hover,
.my-page:focus {
  opacity: 1;
}
.my-page:active,
.my-page:focus {
  outline: none;
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #454545;
  font-size: 16px;
  width: 100%;
  top: 0;
  left: 0;
}

.footer-content {
  display: inline-block;
  width: 66%;
}